* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f3f3f3;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #06061a;
}

.bg {
  background: linear-gradient(150deg, rgba(172, 60, 246, 0.2), #06061a);
}
